@import "tailwindcss";

@theme {
  --color-brand-dark: #031d44;
  --color-brand-accent: #d5896f;
  --color-logo: #2c446c;
  --color-plumbing: #70a288;
  --color-electrical: #dab785;
  --color-gas: #b96a51;
}

@layer base {
  body {
    @apply bg-white text-slate-900;
    font-family:
      system-ui,
      -apple-system,
      sans-serif;
  }
}
